.navbar {
    text-align: right;
}

.jumbotron {
    text-align: center;
    background-color: deepskyblue;
}

#test {
    text-align: center;
    background-color: darkorange;
}

#test_status {
    text-align: center;
}

